@import (reference) "../../styles.less";

.calculator {
    width: 650px;
    color: @nwc-text-color-default;

    .currency-selector-container {
        float: right;
        margin-bottom: 10px;
        font-size: small;
        font-weight: bold;
        select {
            margin-left: 3px;
        }
    }

    .heading {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 3px;
        margin-left: 5px;
        margin-top: 30px;
    }
    
    .table {
        border-width: 1px;
        border-style: solid;
        border-color: @nwc-border-color;
        border-spacing: 0px;
        width: 100%;

        td {
            height: 28px;
            vertical-align: bottom;
        }
    
        .sub-header {
            td {
                border-width: 2px 0px 2px 0px;
                border-color: @nwc-border-color;
                border-style: solid;
                font-weight: bold;
            }

            td:first-child {
                padding-left: 5px;
            }
    
            .value-cell {
                border-width: 2px 1px 2px 1px;
    
                input {
                    font-weight: bold;
                }
            }
        }

        .account-name {
            margin-left: 5px;
        }
    
        .value-cell {
            width: 150px;
            border-width: 0px 0px 1px 1px;
            border-color: @nwc-border-color;
            border-style: solid;
    
            .currency-symbol {
                width: 20px;
                text-align: left;
                margin-left: 4px;
            }

            input {
                border: 0px;
                text-align: right;
                width: calc(100% - 25px);
                float: right;
                margin-right: 3px;
            }
        }
    }

    .color-red {
        color: red;
    }

    .color-green {
        color: #1dac1d;
    }
}
