.heading {
    font-size: x-large;
}

.table {
    border: 1px solid black;
    border-spacing: 0px;
    width: 500px;

    .sub-header {
        td {
            border-width: 2px 0px 2px 0px;
            border-color: black;
            border-style: solid;
            font-weight: bold;
        }

        .value-cell {
            border-width: 2px 1px 2px 1px;

            input {
                font-weight: bold;
            }
        }
    }

    .value-cell {
        width: 150px;
        border-width: 0px 0px 1px 1px;
        border-color: black;
        border-style: solid;

        .currency-symbol {
            width: 20px;
            text-align: left;
        }
        input {
            border: 0px;
            text-align: right;
            width: calc(100% - 20px);
            float: right;
        }
    }
}