<table class="table">
    <thead class="value-cell">
        <th>Net Worth</th>
        <th class="value-cell">
            <span>{{ currencySymbol }}</span>
            <input [value]="balances?.netWorth | number:'1.2-2'" readonly />
        </th>
    </thead>
</table>

<div class="heading">Assets</div>
<table class="table">
    <thead>
        <th>Cash And Investments</th>
        <th></th>
    </thead>
    <tr *ngFor="let a of allAccounts?.cashAndInvestments">
        <td>{{ a.name }}</td>
        <td class="value-cell">
            <span>{{ currencySymbol }}</span>
            <input [ngModel]="a.balance | number:'1.2-2'" (change)="onBalanceChange(a, $event)" />
        </td>
    </tr>

    <thead>
        <th>Long Term Assets</th>
        <th></th>
    </thead>
    <tr *ngFor="let a of allAccounts?.longTermAssets">
        <td>{{ a.name }}</td>
        <td class="value-cell">
            <span>{{ currencySymbol }}</span>
            <input [value]="a.balance | number:'1.2-2'" (change)="onBalanceChange(a, $event)" />
        </td>
    </tr>
    <thead>
        <th>Total Assets</th>
        <th class="value-cell">
            <span>{{ currencySymbol }}</span>
            <input [value]="balances?.totalAssets | number:'1.2-2'" readonly />
        </th>
    </thead>
</table>

<br />

<div class="heading">Liabilities</div>
<table class="table">
    <thead>
        <th>Short Term Liabilities</th>
        <th></th>
    </thead>
    <tr *ngFor="let a of allAccounts?.shortTermLiabilities">
        <td>{{ a.name }}</td>
        <td class="value-cell">
            <span>{{ currencySymbol }}</span>
            <input [value]="a.balance | number:'1.2-2'" (change)="onBalanceChange(a, $event)" />
        </td>
    </tr>

    <thead>
        <th>Long Term Debt</th>
        <th></th>
    </thead>
    <tr nwc-balance-row *ngFor="let a of allAccounts?.longTermDebt">
        <td>{{ a.name }}</td>
        <td class="value-cell">
            <span>{{ currencySymbol }}</span>
            <input [value]="a.balance | number:'1.2-2'" (change)="onBalanceChange(a, $event)" />
        </td>
    </tr>

    <thead>
        <th>Total Liabilities</th>
        <th class="value-cell">
            <span>{{ currencySymbol }}</span>
            <input [value]="balances?.totalLiabilities | number:'1.2-2'" readonly />
        </th>
    </thead>
</table>