<div class="calculator" *ngIf="groupedAccounts">

    <div class="currency-selector-container">
        <span>Select Currency:</span>
        <select [(ngModel)]="activeCurrency" (ngModelChange)="onCurrencyChange($event)">
            <option *ngFor="let curr of currencies" [ngValue]="curr">
                {{curr.isoCode}}
            </option>
        </select>
    </div>

    <table class="table">
        <tr class="sub-header">
            <td>Net Worth</td>
            <td class="value-cell">
                <span class="currency-symbol">{{ activeCurrency?.symbol }}</span>
                <input *ngIf="balances" [value]="balances.netWorth | localeNumber:'1.2-2'" readonly
                    [class.color-red]="!isGreen()" [class.color-green]="isGreen()" />
            </td>
        </tr>
    </table>

    <div class="heading">Assets</div>
    <table class="table">
        <tr class="sub-header">
            <td>Cash And Investments</td>
            <td></td>
        </tr>
        <tr *ngFor="let a of groupedAccounts.CashAndInvestments">
            <td>
                <span class="account-name">{{ a.name }}</span>
            </td>
            <td class="value-cell">
                <span class="currency-symbol">{{ activeCurrency?.symbol }}</span>
                <input [ngModel]="a.balance | localeNumber:'1.2-2'" (change)="onBalanceChange(a, $event)"
                    (keypress)="numberOnly($event)" />
            </td>
        </tr>

        <tr class="sub-header">
            <td>Long Term Assets</td>
            <td></td>
        </tr>
        <tr *ngFor="let a of groupedAccounts.LongTermAssets">
            <td>
                <span class="account-name">{{ a.name }}</span>
            </td>
            <td class="value-cell">
                <span class="currency-symbol">{{ activeCurrency?.symbol }}</span>
                <input [ngModel]="a.balance | localeNumber:'1.2-2'" (change)="onBalanceChange(a, $event)"
                    (keypress)="numberOnly($event)" />
            </td>
        </tr>
        <tr class="sub-header">
            <td>Total Assets</td>
            <td class="value-cell">
                <span class="currency-symbol">{{ activeCurrency?.symbol }}</span>
                <input [ngModel]="balances?.totalAssets | localeNumber:'1.2-2'" readonly />
            </td>
        </tr>
    </table>

    <div class="heading">Liabilities</div>
    <table class="table">
        <tr class="sub-header">
            <td>Short Term Liabilities</td>
            <td></td>
        </tr>
        <tr *ngFor="let a of groupedAccounts.ShortTermLiabilities">
            <td>
                <span class="account-name">{{ a.name }}</span>
            </td>
            <td class="value-cell">
                <span class="currency-symbol">{{ activeCurrency?.symbol }}</span>
                <input [ngModel]="a.balance | localeNumber:'1.2-2'" (change)="onBalanceChange(a, $event)"
                    (keypress)="numberOnly($event)" />
            </td>
        </tr>

        <tr class="sub-header">
            <td>Long Term Debt</td>
            <td></td>
        </tr>
        <tr nwc-balance-row *ngFor="let a of groupedAccounts.LongTermDebt">
            <td>
                <span class="account-name">{{ a.name }}</span>
            </td>
            <td class="value-cell">
                <span class="currency-symbol">{{ activeCurrency?.symbol }}</span>
                <input [ngModel]="a.balance | localeNumber:'1.2-2'" (change)="onBalanceChange(a, $event)"
                    (keypress)="numberOnly($event)" />
            </td>
        </tr>

        <tr class="sub-header">
            <td>Total Liabilities</td>
            <td class="value-cell">
                <span class="currency-symbol">{{ activeCurrency?.symbol }}</span>
                <input [ngModel]="balances?.totalLiabilities | localeNumber:'1.2-2'" readonly />
            </td>
        </tr>
    </table>

</div>